@page "/CircleProgress"
<PageTitle>Circle Progress</PageTitle>
<Container Fluid="true">
    <h1>Circle Progress</h1>
    <Paragraph> The <code>@("<CircleProgress>")</code> is a component for displaying simple circle progress bar.</Paragraph>
    <h2>Examples</h2>

    <h3>Basic</h3>

    <Card>
        <CardBody>
            <CircleProgress Value="30" />
            <PrettyCode CodeFile="pages/circlep/basic.html" Theme="Material" />
        </CardBody>
    </Card>
    <br/>
    <h3>Multiple segments</h3>
    <Card>
        <CardBody>
            <CircleProgress Value="64">
                <Range From="0" To="30" Color="Color.Danger"></Range>
                <Range From="30" To="50" Color="Color.Warning"></Range>
                <Range From="50" To="70" Color="Color.Info"></Range>
            </CircleProgress>
            <PrettyCode CodeFile="pages/circlep/multi.html" Theme="Material" />
        </CardBody>
    </Card>
    <br />
    <h3>Color</h3>

    <Card>
        <CardBody>
            <CircleProgress Value="30" Color="Color.Primary" />
            <CircleProgress Value="30" Color="Color.Dark" />
            <CircleProgress Value="30" Color="Color.Info" />
            <CircleProgress Value="30" Color="Color.Warning" />
            <CircleProgress Value="30" Color="Color.Danger" />
            <CircleProgress Value="30" Color="Color.Success" />

            <PrettyCode CodeFile="pages/circlep/color.html" Theme="Material" />
        </CardBody>
    </Card>
    <br />
    <h3>Size</h3>

    <Card>
        <CardBody>
            <CircleProgress Value="30" Size="Size.ExtraSmall" />
            <CircleProgress Value="30" Size="Size.Small" />
            <CircleProgress Value="30" Size="Size.Default" />
            <CircleProgress Value="30" Size="Size.Medium" />
            <CircleProgress Value="30" Size="Size.Large" />
            <CircleProgress Value="30" Size="Size.ExtraLarge" />

            <PrettyCode CodeFile="pages/circlep/size.html" Theme="Material" />
        </CardBody>
    </Card>

    <br />
    <h3>Transform value</h3>

    <Card>
        <CardBody>
            <CircleProgress Value="30" ValueTransform="ValueTransform" />

            <PrettyCode CodeFile="pages/circlep/value-transform.html" Theme="Material" />
        </CardBody>
    </Card>

    <br />
    <h3>Max value</h3>
    <Paragraph>
        progress ring angle is calculated by translating Value from (0 to MaxValue) to (0 to 360).<br />
        By default, MaxValue is set to 100.
    </Paragraph>

    <Card>
        <CardBody>
            <CircleProgress Value="197" MaxValue="360" />

            <PrettyCode CodeFile="pages/circlep/max.html" Theme="Material" />
        </CardBody>
    </Card>

    <br />
    <h3>Customise value</h3>

    <Card>
        <CardBody>
            <CircleProgress Value="30">
                <ValueContent>
                    <Span TextOverflow="TextOverflow.NoWrap" TextColor="TextColor.Primary">
                        <Icon Name="IconName.Info" TextColor="TextColor.Info" /> @context
                    </Span>
                </ValueContent>
            </CircleProgress>

            <PrettyCode CodeFile="pages/circlep/custom.html" Theme="Material" />
        </CardBody>
    </Card>

    <br />
    <h3>a little bit of fun</h3>

    <Card>
        <CardBody>
            <Slider TValue="double" Value="_value" Min="0" Max="100" ValueChanged="OnValueChanged" />
            <Div TextAlignment="TextAlignment.Center">
                <CircleProgress Value="_value" Color="Color" />
            </Div>

            <PrettyCode CodeFile="pages/circlep/fun.html" Theme="Material" />
        </CardBody>
    </Card>
</Container>
@code {

    private string ValueTransform(double value)
    {
        return $"{value} %";
    }

    private double _value = 54;
    Color Color => GetColor(_value);

    private void OnValueChanged(double value)
    {
        _value = value;
    }

    private Color GetColor(double value) => value switch
    {
        > 70 => Color.Success,
        > 55 => Color.Info,
        > 40 => Color.Warning,
        _ => Color.Danger
    };

}