@page "/ExCollapsepage"
<PageTitle>Extra Collapse</PageTitle>
<Container Fluid="true">
    <h1>Extra Collapse</h1>

    <h2>Examples</h2>

    <h3>Basic</h3>
    <Card>
        <CardBody>

            <ExCollapse>
                <ChildContent>
                    <Div Flex="Flex.JustifyContent.Between">
                        <Tile Title="Price" Flex="Flex.Grow.Is1" Value="30000" Color="Color.Warning" Prefix="$" Suffix="%" />
                        <Tile Title="Price" Flex="Flex.Grow.Is1" Value="40000" Color="Color.Info" Prefix="$" Suffix="%" />
                        <Tile Title="Price" Flex="Flex.Grow.Is1" Value="50000" Color="Color.Primary" Prefix="$" Suffix="%" />
                     
                    </Div>
                </ChildContent>
                <CloseHeaderContent>
                    <Div Flex="Flex.JustifyContent.Between">
                        <Span Flex="Flex.Grow.Is1" TextColor="TextColor.Warning">$ 30000 %</Span>
                        <Span Flex="Flex.Grow.Is1" TextColor="TextColor.Info">$ 40000 %</Span>
                        <Span Flex="Flex.Grow.Is1" TextColor="TextColor.Primary">$ 50000 %</Span>
                    </Div>
                </CloseHeaderContent>
            </ExCollapse>

            <PrettyCode CodeFile="pages/excollapse/basic.html" Theme="Material" />
        </CardBody>
    </Card>
</Container>

@code {

}