@page "/"

<PageTitle>ExComponents</PageTitle>
<Container Fluid="true">



    <Note Color="Color.Info" Visible Title="Note">
       
        
            <a href="https://blazorise.com/">Blazorise</a> is the basis for this project.
            Visit <a href="https://blazorise.com/docs">Blazorise Doc</a> for more information
  
    </Note>

    <h1>1. Create Blazorise project</h1>
    <Note Color="Color.Info" Visible >
        <Paragraph>
            You can use <Link To="https://marketplace.visualstudio.com/search?term=arax&target=VS&category=All%20categories&vsVersion=&sortBy=Relevance">Arax Balzorise Visual Studio project templates</Link>  to create blazorise projects.
            <br/>
            These templates support all providers(Bootstrap 5,Bootstrap 4,Material,Ant Design and Bulma).<br />
            See <Link To="https://marketplace.visualstudio.com/items?itemName=meisamalifallahi.AraxBlazoriseServer">Arax Blazorise Server</Link> and <Link To="https://marketplace.visualstudio.com/items?itemName=meisamalifallahi.AraxBlazoriseWASM">Arax Blazorise WASM</Link> for more information.
        </Paragraph>

    </Note>

    <h1>2. You should install package</h1>
    <br/>
    <PrettyCode CodeFile="pages/start/basic.html" Theme="Material" />
    <h1>3. Using</h1>
    <h5>In your main _Imports.razor add:</h5>
    <br/>
    <PrettyCode CodeFile="pages/start/usings.html" Theme="Material" />

</Container>