@page "/"

<PageTitle>ExComponents</PageTitle>
<Container Fluid="true">


    <h1>Start</h1>

    <Alert Color="Color.Info" Visible>
        <AlertMessage>Note</AlertMessage>
        <AlertDescription><a href="https://blazorise.com/">Blazorise</a> is the basis for this project.
            Visit <a href="https://blazorise.com/docs">Blazorise Doc</a> for more information
        </AlertDescription>
    </Alert>

    <h1>1. Create Blazorise project</h1>
    <Alert Color="Color.Info" Visible>
 @*       <Heading Size="HeadingSize.Is4" TextColor="TextColor.Success">
            Fast Start
        </Heading>*@
        <Paragraph>
            You can use <Link To="https://marketplace.visualstudio.com/search?term=arax&target=VS&category=All%20categories&vsVersion=&sortBy=Relevance">Arax Balzorise Visual Studio project templates</Link>  to create blazorise projects.
            <br/>
            These templates support all providers(Bootstrap 4,Bootstrap 5,Material,Ant Design and Bulma).<br/>
            See <Link To="https://marketplace.visualstudio.com/items?itemName=meisamalifallahi.AraxBlazoriseServer">Arax Blazorise Server</Link> and <Link To="https://marketplace.visualstudio.com/items?itemName=meisamalifallahi.AraxBlazoriseWASM">Arax Blazorise WASM</Link> for more information.
        </Paragraph>

    </Alert>
    
    <h1>2. You should install package</h1>
    <br/>   
    <PrettyCode CodeFile="pages/start/basic.html" Theme="Material" />
    <h1>3. Using</h1>
    <h5>In your main _Imports.razor add:</h5>
    <br/>   
    <PrettyCode CodeFile="pages/start/usings.html" Theme="Material" />
           
</Container>